@model IBMS.Models.Invoice

<h2>Edit Invoice</h2>

<div class="card shadow-sm col-md-6">
    <div class="card-body">
        <form asp-action="Edit" method="post">

            <input type="hidden" asp-for="InvoiceId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label>Sale</label>
                <select asp-for="SaleId" asp-items="ViewBag.Sales"
                        class="form-control" id="saleDropdown">
                </select>
            </div>

            <div class="mb-3">
                <label>Date</label>
                <input asp-for="InvoiceDate" type="date" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Payment Mode</label>
                <input asp-for="PaymentMode" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Total</label>
                <input asp-for="InvoiceTotal" class="form-control" id="invoiceTotal" readonly />
            </div>

            <button class="btn btn-dark">Update</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Back</a>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const dropdown = document.getElementById("saleDropdown");
        const totalInput = document.getElementById("invoiceTotal");

        dropdown.addEventListener("change", function () {

            const selectedText = this.options[this.selectedIndex].text;
            const match = selectedText.match(/₹([\d,\.]+)/);

            if (match) {
                totalInput.value = match[1].replace(/,/g, '');
            }
        });
    </script>
}