@{
    Layout = "_Layout";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h4>Total Products</h4>
            <p>@ViewBag.TotalProducts</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Total Sales</h4>
            <p>@ViewBag.TotalSales</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h4>Low Stock Items</h4>
            <p>@ViewBag.LowStock</p>
        </div>
    </div>
</div>
