@model IBMS.Models.DTOs.SaleDto

@{
    ViewData["Title"] = "Edit Sale";
}

<h2>Edit Sale</h2>

<form method="post" class="col-md-6">

    <input type="hidden" asp-for="SaleId" />
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label>Customer</label>
        <select asp-for="CustomerId"asp-items="Model.CustomerList"class="form-select"></select>
    </div>

    <div class="mb-3">
        <label>Product</label>
        <select asp-for="ProductId"asp-items="Model.ProductList"class="form-select"id="ProductId"></select>
    </div>

    <div class="mb-3">
        <label>Quantity</label>
        <input asp-for="Quantity" class="form-control" id="Quantity" />
    </div>

    <div class="mb-3">
        <label>Total</label>
        <input asp-for="TotalAmount" class="form-control" readonly id="TotalAmount" />
    </div>

    <div class="mb-3">
        <label>Tax</label>
        <input asp-for="TaxAmount" class="form-control" readonly id="TaxAmount" />
    </div>

    <div class="mb-3">
        <label>Net</label>
        <input asp-for="NetAmount" class="form-control" readonly id="NetAmount" />
    </div>

    <button class="btn btn-dark">Update</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back</a>
</form>

@section Scripts {
    <script>
        const prices = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ProductPrices));
        const taxes  = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ProductTaxRates));

        const product = document.getElementById("ProductId");
        const qty = document.getElementById("Quantity");

        function calculate() {
            const p = prices[product.value] || 0;
            const t = taxes[product.value] || 0;
            const q = parseFloat(qty.value || 0);

            const total = p * q;
            const tax = (total * t) / 100;

            document.getElementById("TotalAmount").value = total.toFixed(2);
            document.getElementById("TaxAmount").value = tax.toFixed(2);
            document.getElementById("NetAmount").value = (total + tax).toFixed(2);
        }

        product.addEventListener("change", calculate);
        qty.addEventListener("input", calculate);
    </script>
}
